<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Alive Monitor</title>
	<link href="/styles/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
<h1><a href="/">Alive Monitor</a></h1>

<div class="content">

    {% for entry in entries %}
        <div style="margin-bottom:5px;">

        {% if entry.started %}
            {% if entry.alive%}
            <span class="alive_status" style="background-color:#00e200;">✓</span>
            {% else %}
            <span class="alive_status" style="background-color:red;">×</span>
            {% endif %}
        {% else %}
        <span class="alive_status" style="background-color:orange;">&nbsp;</span>
        {% endif %}

        {{entry.title}} <a class="edit_link" href="/edit?id={{entry.key.id}}">Edit</a>
        </div>
    {% endfor %}

	<p><a href="/edit" class="edit_link">Add</a></p>
	

</div>

<div class="footer">
    <p> Last checked: {% if diffsec %}{{diffsec}} sec. ago{% else %}Unknown{% endif %}</p>
    <p>&copy;  <a href="http://rakusai.org">Isshu Rakusai</a> 2011.</p>
</div>
</body>
</html>
